<!-- footer -->
<footer class="section section-fluid footer-classic">
	<div class="container-fluid">

		<div class="row row-30 justify-content-center">

			<div class="col-lg-12  wow fadeInRight" data-wow-delay=".1s">

				<div class="box-footer">
					<ul class="list-inline list-inline-sm footer-social-list">
						<li><a class="icon fa fa-facebook" href="#"></a></li>
						<li><a class="icon fa fa-twitter" href="#"></a></li>
						<li><a class="icon fa fa-google-plus" href="#"></a></li>
						<li><a class="icon fa fa-instagram" href="#"></a></li>
					</ul>
					<div class="footer-text">
						<p>SIÈGE: Z1 Zenata Lot No 108, Ain Harrouda - Mohammedia Maroc</p>
						<p>Tél. :+212 523 326 945 - Fax: +212 523 326 947 - E-mail: tef@touretfere.ma</p>
					</div>


				</div>
			</div>

		</div>


	</div>

	<div class="container footer-bottom-panel wow fadeInUp">
		<!-- Rights-->
		<p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Creator</span>. All rights
			reserved. <span> Design&nbsp;by&nbsp;<a href="#">Aitouf</a></span>
		</p>
	</div>
	<div class="footer-blue-box">
	</div>
</footer>