<!--header-->

  <header class="section page-header">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
        data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
        data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
        data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px"
        data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true"
        data-xxl-stick-up="true">
        <div class="rd-navbar-main-outer">
          <div class="rd-navbar-main">
            <!-- Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                <span></span>
              </button>
              <!--Navbar logo-->
              <div class="rd-navbar-brand">
                <a class="brand" href="index.html">
                  <img src="./assets/images/logo--1024x279.svg" alt="Tour et Fere" width="229" height="43" /></a>
              </div>
            </div>
            <div class="rd-navbar-main-element">
              <div class="rd-navbar-nav-wrap">
  
                <!--Navbar Social Media left toggle-->
                <div class="rd-navbar-share fl-bigmug-line-share27" data-rd-navbar-toggle=".rd-navbar-share-list">
                  <ul class="list-inline rd-navbar-share-list">
                    <li class="rd-navbar-share-list-item">
                      <a class="icon fa fa-facebook" href="#"></a>
                    </li>
                    <li class="rd-navbar-share-list-item">
                      <a class="icon fa fa-twitter" href="#"></a>
                    </li>
                    <li class="rd-navbar-share-list-item">
                      <a class="icon fa fa-google-plus" href="#"></a>
                    </li>
                    <li class="rd-navbar-share-list-item">
                      <a class="icon fa fa-instagram" href="#"></a>
                    </li>
                  </ul>
                </div>
                <!--Navbar Menu principale-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item active">
                    <a class="rd-nav-link" href="index.html">accueil</a>
                  </li>
                  <li class="rd-nav-item">
                    <a class="rd-nav-link" href="moyens.html">moyens</a>
                  </li>
                  <li class="rd-nav-item">
                    <a class="rd-nav-link" href="savoir-faire.html">savoir-faire</a>
                  </li>
                  <li class="rd-nav-item">
                    <a class="rd-nav-link" href="références.html">références</a>
                  </li>
                  <li class="rd-nav-item">
                    <a class="rd-nav-link" href="contact.html">contact</a>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-project-hamburger" data-rd-navbar-toggle=".rd-navbar-main">
                <!-- RED POLYGONE -->
                <div class="project-hamburger">
  
                  <img src="./assets/images/red-polygone.svg" alt="">
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </nav>
    </div>
  </header>
